html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Hellvetica Neue', "sans-serif";
  color: #444;
  background: #292930;
  background-image: url("https://64.media.tumblr.com/6b9d5fbcc7d6ebe2c3636ed25a550787/f02e19988b551a66-43/s1280x1920/311bc898f00d0bea349351a7a36333f9f659f645.gif");
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
